@import './mixins.scss';
@import './helpers.scss';
@import './reset.scss';
@import './fonts-include.scss';
@import './fonts.scss';
@import './variables.scss';
@import './media.scss';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: none;
}

img {
  max-width: 100%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border-radius: 0px;
  -webkit-appearance: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-size: 62.5%;

  @media screen and (max-width: $large_desktop) {
    font-size: 100vw / (1600/10);
  }

  @media screen and (max-width: $small_desktop) {
    font-size: 100vw / (1340/10);
  }

  @media screen and (max-width: $large_tablet) {
    font-size: 100vw / (1000/10);
  }

  @media screen and (max-width: $large_mobile) {
    font-size: 100vw / (640/10);
  }

  @media screen and (max-width: $small_mobile) {
    font-size: 100vw / (320/10);
  }

  @media screen and (max-width: 320px) {
    font-size: 100vw / (320/10);
  }
}

html {
  overflow: hidden;
}

body {
  font-family: $primary-f;
  color: var(--primary-c);
  background: var(--primary-bg);
  font-weight: 400;
  height: var(--vh);
  font-size: 1.6rem;
  overflow: hidden !important;
  position: relative;
  overscroll-behavior-y: none;
  @include smooth-font;
  width: 100%;
  transition: color 2s ease, background 1s ease;
  &.e-black {
    color: #fff;
    background: var(--primary-c);
  }
}

.e-fixed {
  overflow: hidden !important;
}

.center-wrap {
  max-width: 1550px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px;

  @media screen and (max-width: $large_desktop) {
    max-width: calc(100% - 50px);
    // max-width: 1600px;
    // padding: 0 40px;
  }

  @media screen and (max-width: $large_mobile) {
    padding: 0 20px;
    max-width: 100%;
  }

  @media screen and (max-width: $small_mobile) {
    padding: 0 10px;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

.simple-title {
  font-weight: normal;
  font-size: 10rem;
  line-height: 90%;
  letter-spacing: 0.01em;

  font-family: $secondary-f2;

  @media screen and (max-width: $large_tablet) {
    font-size: 7.5rem;
  }

  @media screen and (max-width: $large_mobile) {
    font-size: 5rem;
  }

  @media screen and (max-width: $small_mobile) {
    font-size: 3rem;
  }
}

.simple-title--color {
  color: var(--secondary-c);
}

.small-title {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--primary-bg);

  @media screen and (max-width: $large_tablet) {
    font-size: 1rem;
  }

  @media screen and (max-width: $small_mobile) {
    font-size: 0.6rem;
  }
}

.small-title--color {
  color: var(--primary-c);
}

.img-wrap {
  width: 100%;

  > div {
    position: relative;
    padding-bottom: 100%;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.img-wrap--contain {
  > div {
    img {
      object-fit: contain;
    }
  }
}

.back {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21429;
  letter-spacing: -0.03em;

  @media screen and (max-width: $small_mobile) {
    font-size: 1rem;
  }
}

.back__link {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background: var(--primary-c);
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
  }

  &:hover::before {
    width: 100%;
    opacity: 1;
  }
}
@include media('>#{$br1}') {
  [data-parallax-wrapper] {
    pointer-events: none;
  }
}

[data-a-l] {
  width: 0%;
  will-change: width;
}

[data-a-t] {
  opacity: 0;
  transform: translateY(40px);
  will-change: transform, opacity;
}

[data-a-o] {
  opacity: 0;
  will-change: opacity;
}

[data-a-thesis] {
  opacity: 0;
  .char {
    display: inline-block;
    overflow: hidden;
    line-height: 1.05em;
  }
  .char-inner {
    display: inline-block;
    will-change: transform;
    transform: translateY(100%);
    opacity: 0;
    will-change: transform, opacity;
  }
}

[data-a-title] {
  opacity: 0;
  line-height: 1em;
  .line,
  .line-inner {
    display: inline-block;
  }
  .e-line {
    line-height: 1em;
    // overflow: hidden;
  }
  // .line-inner {

  // }
  .char {
    transform: translateX(60px);
    opacity: 0;
    will-change: transform, opacity;
  }
}

[data-a-h] {
  opacity: 0;
  line-height: 1em;
  .line,
  .line-inner {
    display: inline-block;
  }
  .e-line {
    overflow: hidden;
    line-height: 1em;
  }
  .line-inner {
    transform: translateY(110%) rotate(-3deg);
    opacity: 0;
    will-change: transform, opacity;
  }
}

[data-a-p] {
  opacity: 0;
  line-height: 1em;
  .line,
  .line-inner {
    display: inline-block;
  }
  .e-line {
    overflow: hidden;
    line-height: 1em;
  }
  .line-inner {
    transform: translateY(110%);
    will-change: transform, opacity;
  }
}

[data-href],
[data-anchor-href] {
  cursor: pointer;
}
