.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	line-height: 5.5rem;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	background: #FBFBFB;
	border-radius: 1px;
	font-weight: bold;
	padding: 0 5rem;
	transition: all 0.5s;
}