.expo-scroll {
  position: relative;
  @media screen and (min-width: $large_mobile) {
    height: 300vh;
    width: 100%;
  }
}

.exposition {
  overflow: hidden;
  width: 100%;
  @media screen and (min-width: $large_mobile) {
    position: sticky;
    top: 0;
    height: var(--vh);
  }
  @media screen and (max-width: $large_mobile) {
    padding-bottom: 6rem;
    padding-top: 4.5rem;
  }

  @media screen and (max-width: $small_mobile) {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

.expo-dark {
  position: absolute;
  top: 0;
  height: 250vh;
  @media screen and (max-width: $large_mobile) {
    height: 100px;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.exposition__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.exposition__wrap {
  display: flex;
  height: 100%;
  padding-left: calc((100% - 1520px) / 2);
  width: fit-content;

  @media screen and (max-width: $large_desktop) {
    padding-left: 40px;
  }

  @media screen and (max-width: $large_mobile) {
    padding-left: 20px;
    flex-direction: column;
    width: 100%;
  }

  @media screen and (max-width: $small_mobile) {
    padding-left: 10px;
  }
}

.exposition__simple-title {
  margin-bottom: 7rem;

  @media screen and (max-width: $large_mobile) {
    margin-bottom: 5rem;
  }

  @media screen and (max-width: $small_mobile) {
    margin-bottom: 4rem;
  }
}

.exposition__box {
  display: flex;

  @media screen and (max-width: $small_mobile) {
    border-top: 1px solid var(--grey);
    padding-top: 0.5rem;
  }
}

.exposition__box-left {
  width: calc(100% - 45.5rem - 3rem);
  margin-right: 3rem;

  @media screen and (max-width: $small_desktop) {
    width: calc(100% - 45.5rem - 9rem);
    margin-right: 9rem;
  }

  @media screen and (max-width: $large_tablet) {
    width: calc(100% - 45.5rem - 3rem);
    margin-right: 3rem;
  }

  @media screen and (max-width: $large_mobile) {
    width: calc(100% - 38rem - 3rem);
    margin-right: 3rem;
  }

  @media screen and (max-width: $small_mobile) {
    width: calc(100% - 18.5rem - 3rem);
  }
}

.exposition__box-right {
  max-width: 45.5rem;
  width: 100%;
  margin-top: -0.5rem;

  @media screen and (max-width: $large_mobile) {
    max-width: 38rem;
    margin-top: 0px;
  }

  @media screen and (max-width: $small_mobile) {
    max-width: 18.5rem;
  }
}

.exposition__left {
  --width: 74.6rem;
  padding-top: 10rem;
  margin-right: 21.5rem;
  position: relative;
  z-index: 1;
  // width: calc(100% - 60.5rem - 21.5rem);
  // flex: 1 0 calc(100% - 60.5rem - 21.5rem);

  @media screen and (min-width: $large_mobile) {
    width: var(--width);
    flex: 0 0 var(--width);
  }

  @media screen and (max-width: $small_desktop) {
    // width: calc(100% - 50.6rem - 10.5rem);
    --width: 69.3rem;
    margin-right: 10.5rem;
  }

  @media screen and (max-width: $large_tablet) {
    --width: 61.8rem;

    // width: calc(100% - 15rem - 20rem);
    margin-right: 20rem;
    padding-bottom: 45rem;
  }

  @media screen and (max-width: $large_mobile) {
    width: 90%;
    padding-bottom: 0;
    margin-bottom: 10rem;
    padding-top: 0;
    padding-right: 10px;
  }

  @media screen and (max-width: $small_mobile) {
    width: 100%;
    margin-bottom: 5rem;
  }
}

.exposition__line {
  margin-bottom: 1rem;

  @media screen and (max-width: $small_mobile) {
    display: none !important;
  }
}

.exposition__image--1,
.exposition__image--3 {
  height: 100%;
  img {
    height: 100%;
  }
}

.exposition__img-wrap {
  position: relative;
  z-index: 2;
  width: fit-content;
  background: var(--primary-bg);
  align-items: center;
  display: flex;
  height: 100%;
  picture,
  img {
    display: inline-block;
    max-width: none;
    max-height: 100%;
    + picture {
      margin-left: 35rem;
    }
  }

  // @media screen and (max-width: $small_desktop) {
  //   max-width: 50.6rem;
  // }

  // @media screen and (max-width: $large_tablet) {
  //   max-width: 15rem;
  // }

  @media screen and (max-width: $large_mobile) {
    display: none;
  }
}

.exposition-slider {
  display: none;

  @media screen and (max-width: $large_mobile) {
    display: block;
  }
}

.exposition__img-wrap > div {
  padding-bottom: 148.76%;
  height: 100%;
}

.exposition__images {
  display: none;

  @media screen and (max-width: $large_mobile) {
    display: block;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}

.exposition__images-wrap {
  display: flex;
  width: 100%;
}

.exposition__images-item {
  min-width: 58rem;
  margin-right: 1.6rem;

  @media screen and (max-width: $small_mobile) {
    min-width: 29rem;
    margin-right: 1rem;
  }
}

.exposition__images-img div {
  padding-bottom: 66.89%;

  @media screen and (max-width: $small_mobile) {
    padding-bottom: 70.89%;
  }
}
