.meaning {
  padding-top: 15rem;
  padding-bottom: 10rem;


  @media screen and (max-width:$small_desktop) {
    padding-top: 10rem;

  }

  @media screen and (max-width:$large_mobile) {

    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  @media screen and (max-width:$small_mobile) {

    padding-top: 5rem;
    padding-bottom: 4.5rem;
  }
}

.meaning__container {
  padding-left: 19.5rem;

  @media screen and (max-width:$small_desktop) {
    padding-left: 20rem;
  }

  @media screen and (max-width:$large_tablet) {
    padding-left: 0;
  }
}

.meaning__top {
  max-width: 120rem;
  width: 100%;

  @media screen and (max-width:$small_desktop) {
    max-width: 106rem;
  }
}

.meaning__simple-title {
  font-size: 7.5rem;
  max-width: 79.5rem;
  width: 100%;
  margin-bottom: 10rem;

  @media screen and (max-width:$large_mobile) {
    font-size: 5rem;
    margin-bottom: 7rem;
    max-width: 50rem;
  }

  @media screen and (max-width:$small_mobile) {

    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

.meaning__line {
  margin-bottom: 1rem;

  @media screen and (max-width:$large_desktop) {

    margin-bottom: 2rem;
  }

  @media screen and (max-width:$large_mobile) {

    margin-bottom: 1rem;
  }
}

.meaning__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30rem;

  @media screen and (max-width:$small_desktop) {

    margin-bottom: 25rem;
  }

  @media screen and (max-width:$large_tablet) {

    margin-bottom: 18rem;
  }

  @media screen and (max-width:$large_mobile) {

    margin-bottom: 14rem;
  }

  @media screen and (max-width:$small_mobile) {

    margin-bottom: 10rem;
  }
}

.meaning__small-title {
  max-width: 79.5rem;
  width: 100%;

  @media screen and (max-width:$small_mobile) {
    max-width: 9rem;
  }
}

.meaning__content {
  max-width: 34rem;
  width: 100%;

  @media screen and (max-width:$large_tablet) {
    max-width: 35rem;
  }

  @media screen and (max-width:$large_mobile) {
    max-width: 29.5rem;
  }

  @media screen and (max-width:$small_mobile) {
    max-width: 18.5rem;
  }
}

.meaning__img-wrap {
  max-width: 75.5rem;
  margin: 0 auto 35rem;


  @media screen and (max-width:$small_desktop) {

    max-width: 67rem;
  }


  @media screen and (max-width:$large_tablet) {

    margin: 0 auto 30rem;
  }


  @media screen and (max-width:$large_mobile) {

    margin: 0 auto 15rem;
  }


  @media screen and (max-width:$small_mobile) {

    margin: 0 auto 10rem;
  }
}

.meaning__img-wrap>div {
  padding-bottom: 91.92%;
}

.meaning__box {
  display: flex;
  justify-content: space-between;


  @media screen and (max-width:$large_mobile) {

    flex-direction: column;
  }
}

.meaning__box-left {
  max-width: 65.8rem;
  width: 100%;

  @media screen and (max-width:$small_desktop) {
    max-width: 68rem;


  }

  @media screen and (max-width:$large_tablet) {

    max-width: 45.5rem;
  }


  @media screen and (max-width:$large_mobile) {
    max-width: 29.5rem;
    margin-bottom: 9.5rem;
  }


  @media screen and (max-width:$small_mobile) {
    max-width: 18.5rem;
    margin-left: auto;

    .img-descr__wrap--right {
      margin-left: 0;
    }
  }
}

.meaning__box-left .meaning__img-wrap {
  margin-bottom: 1rem;

  @media screen and (max-width:$small_desktop) {
    max-width: 100%;

  }
}

.meaning__box-left .meaning__img-wrap>div {
  padding-bottom: 119.45%;
}

.meaning__box-right {
  max-width: 46.5rem;
  width: 100%;

  @media screen and (max-width:$small_desktop) {
    width: 100%;
    max-width: 47.6rem;
    margin-left: 0;
  }


  @media screen and (max-width:$large_tablet) {

    width: calc(100% - 45.5rem - 6.5rem);
    margin-left: 6.5rem;
  }


  @media screen and (max-width:$large_mobile) {

    margin-left: auto;
    max-width: 29.5rem;
    width: 100%;
  }


  @media screen and (max-width:$small_mobile) {

    max-width: 26rem;
    margin-right: auto;
    margin-left: 0;
  }
}

.meaning__box-right .meaning__img-wrap {
  margin-bottom: 1rem;
  max-width: 100%;

  @media screen and (max-width:$small_desktop) {
    max-width: 100%;
  }
}

.meaning__box-right .meaning__img-wrap>div {
  padding-bottom: 81.62%;
}
