.mobile-menu {
  position: fixed;
  color: var(--primary-c);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 102;
  overflow: hidden;
  background: rgba(111, 111, 111, 0.75);
  transition: all 1s ease;
  transform: translateX(100%);
  visibility: hidden;
  touch-action: none;
  display: flex;
  text-transform: uppercase;
  .mobile-menu__wrap {
    transform: translateX(-100%);
  }
}

.mobile-menu--active {
  visibility: visible;
  transform: translateX(0%);
  .mobile-menu__wrap {
    transform: translateX(0%);
  }
}

.mobile-menu--opacity1 {
  opacity: 1;
}

.mobile-menu__wrap {
  background: #fff6ef;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: left 0.5s;
  display: flex;
  flex-direction: column;
  padding: 2.6rem 20px 5rem;
  overflow: auto;
  transition: transform 1s ease;

  @media screen and (max-width: $small_mobile) {
    padding: 2.6rem 10px 2rem;
  }
}

.mobile-menu__wrap::-webkit-scrollbar-thumb {
  background: rgba(var(--primary-c), 1);
  border-radius: 10rem;
}

.mobile-menu__wrap::-webkit-scrollbar {
  width: 0.5rem;
}

.mobile-menu__wrap::-webkit-scrollbar-track {
  border-radius: 10rem;
  background: color;
}

.mobile-menu__wrap--left0 {
  left: 0px;
}

.mobile-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.mobile-menu__logo {
  font-family: 'Cormorant', serif;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -0.07em;

  @media screen and (max-width: $small_mobile) {
    font-size: 1.2rem;
  }
}

.mobile-menu__nav {
  margin-top: auto;
  position: relative;
}

.mobile-menu__nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: 'Forum', cursive;
  counter-reset: ol-counter;
}

.mobile-menu__nav-item {
  margin-bottom: 3rem;
  padding-left: 7.5rem;
  position: relative;

  @media screen and (max-width: $large_mobile) {
    padding-left: 4.5rem;
    margin-bottom: 2rem;
  }
}

.mobile-menu__nav-item:last-child {
  margin-bottom: 0px;
}

.mobile-menu__nav-item::before {
  counter-increment: ol-counter;
  content: '0' counter(ol-counter);
  position: absolute;
  left: 0;
  bottom: 1rem;
  font-size: 1.2rem;

  @media screen and (max-width: $small_mobile) {
    font-size: 1rem;
    bottom: 0.5rem;
  }
}

.mobile-menu__nav-link {
  font-weight: normal;
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: 0.04em;
  display: block;
  position: relative;

  @media screen and (max-width: $small_mobile) {
    font-size: 2.5rem;
  }
}

.mobile-menu__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 16rem;

  @media screen and (max-width: $small_mobile) {
    margin-top: 6rem;
  }
}

.mobile-menu__language {
  font-size: 1.4rem;

  @media screen and (max-width: $small_mobile) {
    font-size: 1rem;
  }
}

.mobile-menu__language-link {
  margin-right: 3rem;

  @media screen and (max-width: $small_mobile) {
    margin-right: 1rem;
  }
}

.mobile-menu__language-link:last-child {
  margin-right: 0px;
}

.mobile-menu__right {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  letter-spacing: -0.03em;

  @media screen and (max-width: $small_mobile) {
    font-size: 1rem;
    max-width: 11rem;
    width: 100%;
  }
}

.mobile-menu__email {
  position: relative;
  margin-bottom: 2rem;
  display: inline-block;
}

.mobile-menu__email::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: var(--primary-c);
  opacity: 1;
  transition: opacity 0.5s, width 0.5s;
}

.mobile-menu__email:hover::before {
  width: 0;
  opacity: 0;
}
