@function percent($width, $margin) {
  $inPercent: math.div($margin, $width) * 100;
  $width: 100 - $inPercent;
  @return #{$width + '%'};
}

.periods {
  padding-top: 30rem;
  text-transform: uppercase;

  @media screen and (max-width: $small_desktop) {
    padding-top: 20rem;
  }

  @media screen and (max-width: $small_mobile) {
    padding-top: 14rem;
  }
}

.periods__header {
  font-weight: 500;
  display: flex;
  margin-bottom: 18rem;

  @media screen and (max-width: $small_desktop) {
    justify-content: space-between;
  }

  @media screen and (max-width: $large_tablet) {
    margin-bottom: 15rem;
  }

  @media screen and (max-width: $large_mobile) {
    justify-content: space-between;
  }

  @media screen and (max-width: $small_mobile) {
    margin-bottom: 10rem;
  }
}

.periods__header-right {
  display: flex;
  max-width: 83.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 42%;

  @media screen and (max-width: $small_desktop) {
    margin-left: 50rem;
    max-width: 67.5rem;
    margin-left: 40%;
  }

  @media screen and (max-width: $large_tablet) {
    margin-left: 39.5%;
    max-width: 48rem;
  }

  @media screen and (max-width: $large_mobile) {
    margin-left: 0;
    max-width: 21rem;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  @media screen and (max-width: $small_mobile) {
    max-width: 13rem;
  }
}

.periods__header-text {
  font-size: 1.4rem;
  line-height: 1.2142857143;
  letter-spacing: -0.03em;
  max-width: 18.5rem;
  width: 100%;

  @media screen and (max-width: $large_tablet) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: $large_mobile) {
    font-size: 1rem;
  }

  @media screen and (max-width: $small_mobile) {
    font-size: 0.8rem;
    max-width: 10rem;
  }
}

.periods__header-title {
  margin-top: -0.5rem;
  font-size: 4.8rem;
  line-height: 101%;
  color: var(--black);

  @media screen and (max-width: $large_tablet) {
    margin-top: 0;
  }
  @media screen and (max-width: $large_mobile) {
    margin-bottom: 3rem;
    font-size: 4rem;
  }

  @media screen and (max-width: $small_mobile) {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
}

.periods__body-list {
  display: flex;
  margin-bottom: 3rem;

  @media screen and (max-width: $large_mobile) {
    margin-bottom: 2rem;
  }

  @media screen and (max-width: $small_mobile) {
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.periods__body-item {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  letter-spacing: -0.03em;
  margin-right: 2.4rem;
  position: relative;

  @media screen and (max-width: $large_mobile) {
    margin-right: 4rem;
  }

  @media screen and (max-width: $small_mobile) {
    font-size: 1.2rem;
    margin-right: 0;
  }
}

.periods__body-item::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background: var(--primary-c);
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.periods__body-item:hover::before {
  width: 100%;
  opacity: 1;
}

.periods__body-item:last-child {
  margin-bottom: 0px;
}

.period {
  padding-bottom: 15rem;
  @media screen and (max-width: $large_tablet) {
    padding-bottom: 10rem;
  }

  @media screen and (max-width: $small_mobile) {
    padding-bottom: 8rem;
  }
}

.period__title {
  font-family: 'Forum', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 5rem;
  border-top: 1px solid rgba(22, 22, 22, 0.3);
  @media screen and (max-width: $large_mobile) {
    padding-top: 1rem;
  }
}

.period__image {
  cursor: pointer;
}

.period__images {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 10px;
  width: 100%;

  @media (max-width: $small_desktop) {
    grid-template-columns: repeat(12, 1fr);
  }

  @media (max-width: $large_mobile) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (max-width: $small_mobile) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.period__i-wrapper {
  display: block;
  overflow: hidden;
  height: fit-content;
  &:hover {
    .period__i {
      transform: scale(1.08);
    }
  }
}

.period__i {
  max-width: 100%;
  display: block;
  width: 100%;
  transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) transform;
  img {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
  }
}

.period__number {
  font-size: 1.8rem;
  line-height: 101%;
  text-transform: none;

  @media screen and (max-width: $small_mobile) {
    font-size: 1rem;
  }
}

.period__years {
  font-size: 3rem;
  line-height: 101%;

  @media screen and (max-width: $small_mobile) {
    font-size: 1.8rem;
  }
}

.period__img {
  overflow: hidden;
}

@import './periods/all';
