.e-black {
  .stage {
    background-color: var(--primary-c);
  }
}

.stage {
  padding: 35rem 0;
  text-transform: uppercase;
  color: var(--primary-c);
  background-color: var(--primary-bg);
  position: relative;
  z-index: 2;
  transition: background 1s ease;
  font-family: 'Forum', cursive;

  @media screen and (max-width: $small_desktop) {
    padding-top: 25rem;
    padding-bottom: 22rem;
  }

  @media screen and (max-width: $large_tablet) {
    padding-top: 18rem;
    padding-bottom: 15rem;
  }

  @media screen and (max-width: $large_mobile) {
    padding-top: 10rem;
    padding-bottom: 10rem;
    overflow: hidden;
  }

  @media screen and (max-width: $small_mobile) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.stage__wrap {
  display: flex;
}

// .stage__img-wrap {
//   max-width: 37.5rem;
//   opacity: 0;
//   position: fixed;
//   pointer-events: none;
//   top: 0;
//   left: 0;
//   transform: translate(50%, 50%);
//   z-index: -1;
//   will-change: transform, opacity;

//   // @media screen and (max-width: $large_mobile) {
//   //   max-width: 25rem;
//   //   left: calc(100% - 5rem);
//   // }

//   // @media screen and (max-width: $small_mobile) {
//   //   max-width: 10rem;
//   // }
//   picture {
//     opacity: 0;
//   }
// }

.stage__img-wrap > div {
  padding-bottom: 121.6%;
}

.stage__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.stage__list-info {
  display: flex;
  align-items: baseline;
}

.stage__list-row {
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
  // position: relative;

  @media screen and (max-width: $large_mobile) {
    margin-bottom: 5rem;
  }

  @media screen and (max-width: $small_mobile) {
    margin-bottom: 3rem;
  }
}

.stage__list-row:last-child {
  margin-bottom: 0px;
}

.stage__list-row:hover .stage__list-date {
  transform: translateX(10rem);
  z-index: 3;

  @media screen and (max-width: $small_mobile) {
    transform: translateX(3rem);
  }
}

.stage__list-row:hover .stage__list-date,
.stage__list-row:hover .stage__list-number {
  color: var(--primary-c);
}

// .stage__list-row:hover .stage__img-wrap {
//   opacity: 1;
//   visibility: visible;
//   transform: translateY(0);
// }

.stage__list-number {
  margin-right: 4rem;
  transition: color 1s;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  color: var(--grey-light);

  @media screen and (max-width: $large_mobile) {
    font-size: 1.4rem;
    color: var(--primary-c);
  }

  @media screen and (max-width: $small_mobile) {
    font-size: 0.8rem;
    margin-right: 2.5rem;
  }
}

.stage__list-date {
  font-size: 8.5rem;
  line-height: 1;
  transition: color 1s, transform 1s;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  color: var(--grey-light);

  @media screen and (max-width: $large_mobile) {
    color: var(--primary-c);
    font-size: 5rem;
  }

  @media screen and (max-width: $small_mobile) {
    font-size: 3rem;
  }
}

.stage__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  @include media('<=#{$large_tablet}') {
    display: none;
  }
}
.stage__img-wrap {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  > .stage__img-container {
    will-change: transform, opacity;
    padding-bottom: 0;
    opacity: 0;
    transform: scaleY(1.1) translateY(60px);
    transform-origin: top;
    width: 37.2rem;
    @include media('<=#{$small_desktop}') {
      width: 24rem;
    }
    img {
      position: static;
      display: block;
      max-width: 100%;
      height: auto;
    }
    &:nth-of-type(1) {
      margin-top: 15rem;
    }
  }
}
